body {
    font-family: 'Signika';
}

.HUGE {
    font-size: 150px;
}

.massive {
    font-size: 100px;
}

.big {
    font-size: 85px;
}

.MT-light {
    color: #D6B4FC;
}

.GREEN-light {
    color: #96F97B;
}

.flwr-bknd {
    background-image: url("../assets/Flowers_cover.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px 1080px;
}

.bkgd-img-index {
    background-image: url("../assets/Blurred_Grass.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.dark_green_bknd {
    background-color: #06402B;
}

.rad {
    border-radius: 50%;
}

.no-underline {
    text-decoration: none; 
}

.rotate {
    transition: transform .2s;
}

.rotate:hover {
    transform: rotate(-15deg);
}

.text-transition {
    transition: transform .2s;
}

.text-transition:hover {
    /*transform: scale(1.1)*/
}