body {
    font-family: 'Signika';
}

.HUGE {
    font-size: 150px;
}

.massive {
    font-size: 100px;
}

.big {
    font-size: 85px;
}

.readable {
    font-size: 30px;
}

.MT-light {
    color: #ffffff;
}

.border-MT-light {
    border-style: none none solid none;
    border-color: gold;
    border-width: 5px;
}

.GREEN-light {
    /*color: #96F97B;*/
    color: gold
}

.flwr-bknd {
    background-image: url("../assets/Flowers/MT\ greenhouse\ photos\ \(updated\)/IMG_7715.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 1080px;
}

.bkgd-img-index {
    background-image: url("../assets/Blurred_Grass.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.bkgd-img-plants {
    background-image: url("../assets/Greenhouse_Overview_blurred.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.bkgd-img-masonry {
    background-image: url("../assets/MT_Masonry_Blurred.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.bkgd-img-team {
    background-image: url("../assets/MT_Birdseye_Blurred.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.bkgd-img-search {
    background-image: url("../assets/Search_bg_blurred.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.dark_green_bknd {
    background-color: #06402B;
}

.rad10 {
    border-radius: 15%;
}

.rad {
    border-radius: 50%;
}

.no-underline {
    text-decoration: none;
}

.rotate {
    transition: transform .2s;
}

.rotate:hover {
    transform: rotate(-15deg);
}

.navbar-item-text {
    color: white;
    transition: color .2s;
}

.navbar-item-text:hover {
    /*color: #ffc107;*/
    color: gold;
}

.current {
    font-weight: bold;
    /*color: #ffc107; */
    /*border-radius: 10%;*/
    color: gold;
}

.current:hover {
    font-weight: bold;
    color: gold;
    /*color: #ffc107; */
    /*border-radius: 10%;*/
}

.boxShadowingExpandRotate_hover {
    box-shadow: 2px 2px 5px black;
    transition: box-shadow 0.2s, rotate 0.2s, transform 0.2s;
}


.boxShadowingExpandRotate_hover:hover {
    box-shadow: 5px 5px 10px black;
    transform: scale(1.2);
    rotate: -15deg;
}

.boxShadowingExpand_hover {
    box-shadow: 2px 2px 5px black;
    transition: box-shadow 0.2s, transform 0.2s;
}


.boxShadowingExpand_hover:hover {
    box-shadow: 5px 5px 10px black;
    transform: scale(1.05);
}

.boxShadowingExpandShade_hover {
    box-shadow: 2px 2px 5px black;
    filter: grayscale(10);
    transition: box-shadow 0.2s, filter 0.2s, transform 0.2s;
}


.boxShadowingExpandShade_hover:hover {
    box-shadow: 5px 5px 10px black;
    transform: scale(1.2);
    filter: grayscale(0);
}

.boxShadowingExpandBlur_hover {
    box-shadow: 2px 2px 5px black;
    filter: blur(10px);
    transition: box-shadow 0.2s, filter 0.2s, transform 0.2s;
}


.boxShadowingExpandBlur_hover:hover {
    box-shadow: 5px 5px 10px black;
    transform: scale(1.2);
    filter: blur(0px);
}


/*Developer Card Backgrounds*/
.UD_bg_color {
    background-color: #96d3ff;
}

.ASEP_bg_color {
    background-color: #fdd9f5;
}

.ZLO_bg_color {
    background-color: #d4417c;
}

.CCC_bg_color {
    background-color: #ffffff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}