body {
    font-family: 'Signika';
}

.HUGE {
    font-size: 150px;
}

.massive {
    font-size: 100px;
}

.big {
    font-size: 85px;
}

.readable {
    font-size: 30px;
}

.MT-light {
    color: #D6B4FC;
}

.GREEN-light {
    color: #96F97B;
}

.flwr-bknd {
    background-image: url("../assets/Flowers_cover.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px 1080px;
}

.bkgd-img-index {
    background-image: url("../assets/Blurred_Grass.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.bkgd-img-plants {
    background-image: url("../assets/Greenhouse_Overview_blurred.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.bkgd-img-masonry {
    background-image: url("../assets/MT_Masonry_Blurred.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.bkgd-img-team {
    background-image: url("../assets/MT_Birdseye_Blurred.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.bkgd-img-search {
    background-image: url("../assets/Search_bg_blurred.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-position: center;
}

.dark_green_bknd {
    background-color: #06402B;
}

.rad10 {
    border-radius: 15%;
}

.rad {
    border-radius: 50%;
}

.no-underline {
    text-decoration: none; 
}

.rotate {
    transition: transform .2s;
}

.rotate:hover {
    transform: rotate(-15deg);
}

.navbar-item-text {
    color: white;
    transition: color .2s;
}

.navbar-item-text:hover {
    color: #ffc107;
}

.current {
    font-weight: bold;
    color: #ffc107;
    /*border-radius: 10%;*/
}

.current:hover {
    font-weight: bold;
    color: #ffc107;
    /*border-radius: 10%;*/
}

.boxShadowingExpand_hover {
    box-shadow: 2px 2px 5px black;
    transition: box-shadow 0.2s, rotate 0.2s, transform 0.2s;
}


.boxShadowingExpand_hover:hover {
    box-shadow: 5px 5px 10px black;
    transform: scale(1.2);
    rotate: -15deg;
}




/*Developer Card Backgrounds*/
.UD_bg_color {
    background-color: #96d3ff;
}